{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always"
}
