html {
    color: rgb(194, 194, 194);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    text-align: center;
}

#player {
    border: 2px solid rgb(194, 194, 194);
    width: 800px;
    margin: auto;
}

#nav {
    border-right: 2px solid rgb(194, 194, 194);
    width: 27%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    margin: 0px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.dirLabel {
    color: rgb(72, 90, 255);
}

.fileLabel {
    color:rgb(52, 143, 52);
    font-weight: bold;
}

.navItem .navItem{
    margin-left: 2ch;
    display: none;
}

#main {
    width: 73%;
    height:100%;
    position: fixed;
    top: 0;
    right: 0;
}