#cb, #player, html {
    color: rgb(194, 194, 194);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    text-align: center;
}

#player, html {
    padding-top: 20px;
}

#video {
    border: 2px solid rgb(194, 194, 194);
}